<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <footer role="containerinfo">
	<p><small>Copyright &copy; Kent Howard</small></p>
      </footer>
    </div>
  </div>
</div>
